/*.php
/*.txt
/*.xml
/*.log
/*.html
/*.gz
/*.htaccess

.idea/
.DS_Store

/wp-admin/
/wp-includes/
/wp-content/*
/wp-content/plugins/*
/wp-content/uploads/*

!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/sklton/
/wp-content/themes/sklton/assets/css/*
/wp-content/themes/sklton/assets/js/*.min.js
/wp-content/themes/sklton/node_modules/*