html,
body {
  color: $text_color;

  a {
    color: $base_color;
    @include def_transition;

    &:hover,
    &:active,
    &:focus {
      color: lighten($base_color, 20%);
      text-decoration: none;
    }
  }
}
